application/cache/*
!application/cache/index.html
vendor/*
application/logs/*
!application/logs/index.html
application/config/constants.php
application/config/development/database.php
application/config/production/database.php